img {
  width: 100%;
  height: 100%;
}
body {
  background: no-repeat center center fixed
    url(images/abstract-blue-geometric-circles-overlapping-background-with-light-blue-free-vector.jpg);
  background-size: cover;
}

.child {
  bottom: 10%;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 3, 0, 0.459);
  text-align: center;
  font-size: medium;
}

@keyframes minutes {
  100% {
    transform: rotate(630deg);
  }
}
@keyframes hours {
  100% {
    transform: rotate(30deg);
  }
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: 300px 300px;
}
#hours {
  position: absolute;
  width: 30%;
  height: 20%;
  top: 39.8%;
  left: 49.9%;
  transform-origin: left;
  animation: hours 10s infinite linear;
}

#minutes {
  position: absolute;
  transform: rotate(270deg);
  transform-origin: left;
  width: 35%;
  top: 41.2%;
  left: 50.5%;
  animation: minutes 10s infinite linear;
}
