body {
  background-image: url(images/cpmz99ncc1vlpuzuj3ha.jpg);
  background-size: cover;
}

.child {
  bottom: 10%;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 3, 0, 0.459);
  text-align: center;
  font-size: medium;
}

@keyframes minutes {
  100% {
    transform: rotate(630deg);
  }
}
@keyframes hours {
  100% {
    transform: rotate(30deg);
  }
}

#cir {
  position: relative;
  width: 300px;
}
#hr {
  position: absolute;
  width: 100px;
  top: 20.5%;
  left: 11.3%;
  transform-origin: left;
  animation: hours 10s infinite linear;
}

#min {
  position: absolute;
  transform: rotate(270deg);
  transform-origin: left;
  width: 100px;
  top: 20.5%;
  left: 11.5%;
  animation: minutes 10s infinite linear;
}
